*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif; ;
}

.main-container {
  display: grid;
  grid-template-areas:
    'nav section';
  grid-template-columns: 15% auto;
}

.nav {
  background-color: #bb2025;
  display: flex;
  flex-direction: column;
  grid-area: nav;
  justify-content: space-evenly;
}

.nav__profile-container {
  text-align: center;
  color: #FFF;
}

.nav__profile--pic {
  background-image: url("./assets/nav/heygirlteacher.jpg");
  background-position-x: .3rem;
  background-position-y: 4.8rem;
  background-size: 5.4rem;
  border-radius: 61%;
  display: table;
  display: inline-block;
  height: 5rem;
  margin-top: 1.5rem;
  width: 5rem;
  border: 1.5px solid #7a1518;
}

.nav__profile--menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .75rem;
    letter-spacing: 1.25px;
    margin: .5rem 0 1.25rem;
}

.nav__profile--menu::after {
  background-image: url("./assets/nav/arrow.png");
  background-size: .5rem;
  content: "";
  display: inline-block;
  height: .5rem;
  transform: rotate(90deg);
  width: .5rem;
}

.nav__main-container,
.nav__admin-container,
.nav__categories-container {
  border-top: 2px solid #7a1518;
}

.nav__list {
  color: #f1f0ee;
  font-size: .5rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  line-height: 2rem;
  list-style-type: none;
  margin: 1rem;
  text-transform: uppercase;
}

.nav__list--item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-size: 1rem;
  margin-right: .5rem;
  vertical-align: text-bottom;
}

.nav__list--item {
  vertical-align: middle;
}

.nav__title {
  color: #eb888c;
  font-size: .6rem;
  text-transform: capitalize;
}

.li--school::before {
  background-image: url("./assets/nav/school.png");
}

.li--supplies::before  {
  background-image: url("./assets/nav/pencil.png");
}

.li--grading::before  {
  background-image: url("./assets/nav/apple-books.png");
}

.li--lost-wages::before  {
  background-image: url("./assets/nav/money.png");
}

.li--document-or-die::before  {
  background-image: url("./assets/nav/document.png");
}

.li--document-or-die {
  white-space: nowrap;
  overflow: hidden;
}

.li--educators::before  {
  background-image: url("./assets/nav/gearhead.png");
}

.li--locations::before  {
  background-image: url("./assets/nav/location.png");
}

.li--death-by-data::before  {
  background-image: url("./assets/nav/death.png");
}

.li--existential-despair::before  {
  background-image: url("./assets/nav/light-bulb.png");
}

.li--social::before  {
  background-image: url("./assets/nav/drink.png");
}




.section-container {
  grid-area: section;
}

.search-container {
  display: grid;
  grid-template-areas:
    'hamburger search option1 option2 option3'
}

.search__nav-hamburger {
  grid-area: hamburger;
}

.search__input {
  grid-area: search;
}

.option1 {
  grid-area: option1;
}

.option2 {
  grid-area: option2;
}

.option3 {
  grid-area: option3;
}





.job-container {
  display: grid;
  grid-template-areas:
    "job-post open bookmark edit trash"
}

.job__post {
  display: flex;
  grid-area: job-post;
}

.job__post--title {
  font-family: 'Josefin Sans', sans-serif;
}

.tool--open {
  grid-area: open;
}

.tool--bookmark {
  grid-area: bookmark;
}

.tool--edit {
  grid-area: edit;
}

.tool--trash {
  grid-area: trash;
}



.tab-container {
  display: flex;
}

.data-container,
.details-container{
  background-color: #7acfd6;
}

.data-container {
  display: grid;
  grid-template-areas:
    "circle-chart bar-graph"
}

.data__circle-chart--container {
  display: flex;
  grid-area: circle-chart;
}

.data__bar-graph--container {
  display: flex;
  grid-area: bar-graph;
}

.data__circle-chart {
  border: 2px solid green;
}
.data__circle-chart--totals,
.data__bar-graph--totals {
  background-color: #f1f0ee;
  border-radius: 23px;
  height: 2rem;
  width: 14rem;
}

.details-container {
  display: grid;
  grid-template-areas:
    "info social";
  grid-template-columns: 60% 30%;
  justify-content: space-around;
}

.info-container {
  background-color: #FFF;
  grid-area: info;
}

.info__list {
  display: flex;
  list-style-type: none;
}

.item-category {
  text-transform: uppercase;
}

.job-description {
  background-color: #eb888c;
  /* background-color: #e0474c; */
}



.social-container {
  grid-area: social;
}
