*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
}

.main-container {
  border: 2px green solid;
  display: grid;
  grid-column: 10% 45% auto;
  grid-row: auto;
  grid-template-areas:
    'nav search options'
    'nav title tools'
    'nav tabs tabs'
    'nav data data'
    'nav info link'
    'nav info widget'
    'nav info upload'
}

.nav {
  background-color: #e0474c;
  grid-area: nav;
}

.nav__profile--pic {
  background-image: url("./assets/heygirlteacher.jpg");
  background-position: center;
  background-position-x: .3rem;
  background-position-y: -2.1rem;
  /* background-repeat: no-repeat; */
  background-size: 6.3rem;
  border-radius: 61%;
  display: table;
  height: 5rem;
  width: 5rem;
}

.nav__profile--menu {
    color: #FFF;
}

.nav__profile--menu::after {
  background-image: url("./assets/arrow.png");
  background-size: .75rem;
  content: "";
  display: inline-block;
  height: .75rem;
  transform: rotate(90deg);
  width: .75rem;
}

.search-container {
  grid-area: search;
}

.option-container {
  grid-area: options;
}

.title-container {
  grid-area: title;
}

.tool-container {
  grid-area: tools;
}

.tab-container {
  grid-area: tabs;
}

.data-container {
  grid-area: data;
}

.info-container {
  grid-area: info;
}

.link-container {
  grid-area: link;
}

.widget-container {
  grid-area: widget;
}

.upload-container {
  grid-area: upload;
}
